body{
    
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* background-color: #523527; */
    /* background-color: #20686c; */
    /* background-color: #005236; */
    /* background-color: #6bc4a6; */
    /*background-color: #fe982f; */
    /* background-color: #bc4f07; */
    background-image: url(picture/2d_orages.jpg);
  
}




