
.item-checkbox{
    width: 20px;
    height: 20px;
    margin: 0;
}

label {
    align-items: center;
    flex-wrap: wrap;
    height: 20px;
    width: 20px;
    background: inherit;
    position: absolute;
    top: 15%;
    left: 10px;
	}
	
	 
	
	input[type=checkbox] {
		position: relative;
		cursor: pointer;
		width: 20px;
		height: 20px;
		/* margin-right: 3px; */
		background: inherit;
	
	}
	
	 
	
	input[type=checkbox]:before {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		background: inherit;
		cursor: pointer;
	
	}

	input[type=checkbox]:after {
		content: "";
		transition: .4s ease-in-out;
		position: absolute;
		z-index: 1;
		width: 17px;
		margin: 21% 0;
		height: 17px;
		border: 2px solid  #bc4f07;
	}

	input[type=checkbox]:checked:after {
	
		transform: rotate(-45deg);
		height: 8px;
		border-color: #ffffff; 	
		border-top-color: transparent;
		border-right-color: transparent;
	
	}
	

