.input-style input{
    width: 95%;
    height: 40px;
    border: 0px;
    padding: 0px 10px;
    margin: 15px 0;
    color: #ffffff;
    /* color: #523527; */
    /* color: #20686c; */
    /* color: #005236; */
    /* color: #6bc4a6; */
    /* color: #fe982f; */
    /* color: #bc4f07; */
    /* background-color: #7c6a53; */
    background-color: #20686c;
    /* background-color: #005236; */
    /* background-color: #6bc4a6; */
    /* background-color: #fe982f; */
    /* background-color: #bc4f07; */
    font-size: 18px;
    position: relative;
}
.input-style input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.input-style input:focus, #add-button:focus,
#save-button:focus{
    outline: none;
}

#add-button{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: #c3d4ad;
    background-color: #20686c;
    /* background-color: #005236; */
    /* background-color: #6bc4a6; */
    /* background-color: #fe982f; */
    /* background-color: #bc4f07; */
    color: white;
    margin: 0 0 10px 0;
    cursor: pointer;
    font-weight: bold;
}
#add-button:hover, #save-button:hover{
    /* background: #fc0; */
    /* background-color: #20686c; */
    /* background-color: #005236; */
    background-color: #6bc4a6;
    /* background-color: #fe982f; */
    /* background-color: #bc4f07; */

}

#add-button, #save-button{
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
}

#save-button, #button-for-all-list,
#button-completed, #button-for-unchecked-items{
    width: 25%;
    height: 40px;
    border: 0;
    /* background-color: #c3d4ad; */
    /* background-color: #20686c; */
    background-color: #005236;
    /* background-color: #6bc4a6; */
    /* background-color: #fe982f; */
    /* background-color: #bc4f07; */
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.range_buttons{
    position: relative;
    background-color:#20686c;
    width: 100%;
    margin: 10px 0;
}


#loading-button{
    position: absolute;
    top: -230%;
    left: 110%;
    width: 70px;
    height: 50px;
    border: 3px solid black;
    background-color: #46e640;
}
/*
#button-that-changes-app-style{
    position: absolute;
    top: -85%;
    left: 110%;
    width: 70px;
    height: 50px;
    border: 3px solid rgb(23, 4, 4);
    background-color: #4ab197;
    color: white;
}
*/