.loading{
    width: 400px;
    height: 350px;
    border: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.425);

}

.jumpingOrange{
    -webkit-animation-name: jumpingOrange;
    animation-name: zoomOut;
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
}


@keyframes jumpingOrange {
    from {
      transform: perspective(30px);
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }