.input-style input{
    width: 95%;
    height: 40px;
    border: 0px;
    padding: 0px 10px;
    margin: 15px 0;
    color: #ffffff;
    background-color: #5aa5cd;
    font-size: 18px;
    position: relative;
}
.input-style input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.input-style input:focus, #add-button:focus{
    outline: none;
}

#add-button{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: lightsalmon;
    color: white;
    /* display: block; */
    margin: 0 0 10px 0;
    cursor: pointer;
    font-weight: bold;
}

