.input-style input{
    width: 95%;
    height: 40px;
    border: 0px;
    padding: 0px 10px;
    margin: 15px 0;
    color: #ffffff;
    /* color: #523527; */
    /* color: #20686c; */
    /* color: #005236; */
    /* color: #6bc4a6; */
    /* color: #fe982f; */
    /* color: #bc4f07; */
    /* background-color: #7c6a53; */
    background-color: #20686c;
    /* background-color: #005236; */
    /* background-color: #6bc4a6; */
    /* background-color: #fe982f; */
    /* background-color: #bc4f07; */
    font-size: 18px;
    position: relative;
}
.input-style input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.input-style input:focus, #add-button:focus{
    outline: none;
}

#add-button{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: #c3d4ad;
    background-color: #20686c;
    /* background-color: #005236; */
    /* background-color: #6bc4a6; */
    /* background-color: #fe982f; */
    /* background-color: #bc4f07; */
    color: white;
    margin: 0 0 10px 0;
    cursor: pointer;
    font-weight: bold;
}

